[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gym = "*"
numpy = "*"
matplotlib = "*"
"http://download.pytorch.org/whl/torch-0.2.0.post3-cp36-cp36m-macosx-10-7-x86-64.whl" = "*"
jupyter = "*"
